#HomePage {
    height: 100vh;
    background: url('../../assets/home-background.png') no-repeat 650px bottom;
    background-color: #ededf1;
  }
  
  #HomePage .content {
    width: 100%;
    height: 100%;
    
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
  
  #HomePage .content header {
    margin: 0px 0 0;
    border-bottom: solid 2px black;
    width: 2415px;
    height: 90px;
    
    background-color: #ffffff ;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between ;
    
    padding: 8px;

  }


  #HomePage .content main {
    flex: 1;
    max-width: 560px;
    
    margin-left: 194px;
    padding: 0 30px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #HomePage .content main h1 {
    font-size: 42px;
    color: var(--title-color);

    margin-top: 1px;
  }
  
  #HomePage .content main p {
    font-size: 24px;
    margin-top: 20px;
    line-height: 38px;
  }
  
  #HomePage .content main a {
    width: 100%;
    max-width: 360px;
    height: 70px;
    background: #7d6cdf ;
    border-radius: 8px;
    text-decoration: none;
  
    display: flex;
    align-items: center;
    overflow: hidden;
  
    margin-top: 20px;
    margin-left: 60px;
  }
  
  #HomePage .content main a span {
    display: block;
    background: rgba(0, 0, 0, 0.08);
    width: 72px;
    height: 72px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
  }
  
 #HomePage .content main a span svg {
    color: #FFF;
    width: 20px;
    height: 20px;
  }
  
  #HomePage .content main a strong {
    flex: 1;
    text-align: center;
    color: rgb(226, 226, 226);
  }
  
  #HomePage .content main a:hover {
    background: #9a8de9;
  }
  
  @media(max-width: 900px) {
      #HomePage .content {
      align-items: center;
      text-align: center;
    }
  
      #HomePage .content header {
      margin: 14px auto 0;
    }
  
      #HomePage .content main {
      align-items: center;
    }
  
      #HomePage .content main h1 {
      font-size: 42px;
    }
  
      #HomePage .content main p {
      font-size: 24px;
    }
  }
  
  body, input, button, header {
    font-family: Roboto;

  }
   
  h1, h2, h3, h4, h5, h6, thead {
    color: var(--title-color);
    font-family: Ubuntu;
  }